<!-- Generated template for the ProfileComponent component -->
<div class="profile">
  <div class="profile-container">
    <img [src]="image_data" alt="">
    <p class="name">{{profile_name}}</p>
    <p class="contact">{{profile_mob}}</p>
  </div>
  <div class="controls">
    <button ion-button clear icon-only color="dark">
      <ion-icon name="cog"></ion-icon>
    </button>
    <button ion-button clear icon-only color="dark">
      <ion-icon name="share"></ion-icon>
    </button>
  </div>
</div>