// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background: linear-gradient(
    45deg,
    map-get($colors, primary),
    map-get($colors, secondary)
  ) !important;
}

button.primary {
  background: linear-gradient(
    45deg,
    map-get($colors, primary),
    map-get($colors, dark)
  );
}
button.secondary {
  background: linear-gradient(
    45deg,
    map-get($colors, secondary),
    map-get($colors, dark)
  );
}

.center-h {
  display: block;
  margin: 0 auto;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes change-background {
  0% {
    // transform: scale(1);
    // -webkit-transform: scale(1);
    opacity: 0.3;
    // background-color: red;
  }
  100% {
    // transform: scale(1.5);
    // -webkit-transform: scale(1.5);

    opacity: 0;
  }
}

// @-webkit-keyframes change-background {
//   0% {
//     transform: scale(1.2);
//     -webkit-transform: scale(1.2);
//     opacity: 0.3;
//   }
//   100% {
//     transform: scale(1.5);
//     -webkit-transform: scale(1.5);
//     opacity: 0;
//   }
// }

.fab-btn {
  right: 16px;
  bottom: 16px;
}

.text-center {
  text-align: center;
}

.in-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.in-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
